{{outlet}}
<h1>Tasks</h1>
<div class='row'>
  {{#each model as |task|}}
    <div class='col-md-3'>
      <div class='task card card-block'>
        <div class='task-header'>
          {{task.date}}
        </div>
        <h4 class='card-title'>{{task.title}}</h4>
        <p class='card-text'>{{task.description}}</p>
      </div>
    </div>
  {{/each}}
</div>
