{{outlet}}
<h1>Tasks</h1>
{{#each model as |task|}}
  <div class='card'>
    <div class='card-block'>
    </div>
    <h4 class='card-title'>{{task.title}}</h4>
    <h6 class='card-subtitle text-muted'>{{task.date}}</h6>
    <div class='card-block'>
      <p class='card-text'>{{task.description}}</p>
    </div>
  </div>
{{/each}}
